<div class="aside d-flex flex-column">
    <div class="d-flex flex-column align-items-center justify-content-center flex-fill">
        
        <button class="btn btn-primary mb-2">
            <i class="bi bi-house-heart fs-5"></i>
        </button>
        <button class="btn mb-2">
            <i class="bi bi-arrow-through-heart text-white fs-5"></i>
        </button>
        <button class="btn mb-2">
            <i class="bi bi-airplane-engines text-white fs-5"></i>
        </button>
        <button class="btn mb-2">
            <i class="bi bi-bank text-white fs-5"></i>
        </button>

        <button class="btn mb-2">
            <i class="bi bi-currency-bitcoin text-white fs-5"></i>
        </button>
        <button class="btn mb-2">
            <i class="bi bi-cash-coin text-white fs-5"></i>
        </button>
        <button class="btn mb-2">
            <i class="bi bi-graph-down-arrow text-white fs-5"></i>
        </button>
        <button class="btn mb-2">
            <i class="bi bi-graph-up-arrow text-white fs-5"></i>
        </button>
    </div>
</div>