<div class="card card-custom card-stretch card-stretch-half gutter-b b-0">
    <div class="card-body">
        <p class="fw-bold">Par de divisa</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item cursor-pointer" *ngFor="let divisa of divisas">
                {{divisa.name}}
            </li>
            <!-- <li class="list-group-item cursor-pointer bg-success p-2 text-dark bg-opacity-50 text-white border-0">EUR/JPY</li> -->
            
          </ul>
    </div>
</div>